################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs
/Client/EditorGUI/.vs/EditorGUI
/Client/EditorGUI/build-EditorGUI-Clone_of_Desktop_Qt_5_12_3_MSVC2017_64bit-Debug
/Client/EditorGUI/EditorGUI/debug
/Client/EditorGUI/EditorGUI/GeneratedFiles
/Client/EditorGUI/EditorGUI/x64/Debug
/Client/EditorGUI/x64/Debug
/Client/EditorGUI/EditorGUI/SocketHandler/socket.cpp
/Client/EditorGUI/EditorGUI/SocketHandler/socket.h
/build-Server-Desktop_Qt_5_12_3_MSVC2017_64bit-Debug
/Server/.vs/Server/v16
/Server/release
/Server/debug
/build-Server-Clone_of_Desktop_Qt_5_12_3_MSVC2017_64bit-Debug/debug
/build-Server-Clone_of_Desktop_Qt_5_12_3_MSVC2017_64bit-Debug
/Client/EditorGUI/EditorGUI/CRDT/MessageType.h
/Server/.vs/Server_ONLY/v16
/Server/ImmaginiProfilo
/Client/.vs/EditorGUI/v16
/Client/EditorGUI/EditorGUI/.vs/EditorGUI
/Server/.vs/Server/v15
/Client/EditorGUI/EditorGUI/config.txt
